/* @import "normalize.css"; */

body {
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: #e5e5e5;
}
.conteiner-nav-first {
  background: #e5e5e5;
  margin: 0;
}
.nav {
  background: #ffffff;
}
.nav-item {
  width: 600px;
  margin: 0 auto;
}
.nav-item li {
  list-style: none;
  display: inline-block;
  padding: 16px 15px;
}
.nav-item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
}
.nav-item a:hover {
  color: #7979f4;
}
.logo-conteiner {
  width: 1000px;
  padding: 25px 0px;
  margin: 0 auto;
}
.left-logo {
  width: 300px;
  float: left;
  position: relative;
  background: #ffffff;
  top: -10px;
}
.left-logo::before {
  content: "";
  clear: both;
  width: 300px;
}
.logo-square {
  float: left;
  position: absolute;
  top: -5px;
}
.logo-beauty {
  float: right;
  position: absolute;
  top: 25px;
  left: 50%;
}
.right-logo {
  width: 300px;
  float: right;
  position: relative;
}
.number {
  float: left;
  position: absolute;
  top: 15px;
}
.number a {
  text-decoration: none;
  color: #000000;
}
.but-call-back {
  float: right;
  width: 150px;
  border: 2px solid #f13c6e;
  border-radius: 40px;
  overflow: hidden;
}
.but-call-back :hover {
  background: #f13c6e;
  color: #ffffff;
}
.but-call-back a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 12px 0;
  width: 100%;
  color: #000000;
  transition: 0.5s;
}
.logo-conteiner::after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}

.second-nav li {
  list-style: none;
  display: inline-block;
  padding: 30px 15px;
}
.second-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.second-nav a:hover {
  color: #7979f4;
}
.second-nav ul {
  width: 700px;
  margin: 0 auto;
}
.big-logo {
  background-image: url("../img/Rectangle.png");
  background-size: 100% 100%;
  padding: 150px 0;
}
.text-big-logo {
  width: 300px;
  margin: 0 200px;
}
.text-big-logo h1 {
  color: #ffffff;
}
.text-big-logo span {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.but-more {
  margin-top: 50px;
  width: 150px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  overflow: hidden;
}
.but-more :hover {
  background: #ffffff;
  color: #f13c6e;
}
.but-more a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #000000;
  transition: 0.5s;
}

.main-conteiner {
  width: 1110px;
  margin: 0 auto;
}
.card_item {
  padding: 0;
}
.card a {
  text-decoration: none;
}
.card li {
  list-style: none;
  display: inline-block;
  background: #ffffff;
  width: 210px;
  margin-right: 25px;
}
.card img {
  padding: 25px 20%;
}
.card p {
  width: 200px;
  color: #333333;
  margin: 0 auto;
  text-align: center;
}
.card span {
  display: inline-block;
  margin: 20px auto;
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
}
.but {
  width: 130px;
  border-radius: 30px;
  background: #f13c6e;
  margin: 15px auto;
  text-align: center;
}
.but > .buttun {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 12px 0;
}
.two-blocks {
  width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}
.block-email {
  width: 525px;

  height: 212px;
  background: #f13c6e;
  position: relative;
  color: #ffffff;
  float: left;
}

.block-email h3 {
  width: 250px;
  margin: 0;
  position: absolute;
  top: 35px;
  left: 40px;
}
.block-email span {
  position: absolute;
  width: 129px;
  top: 75px;
  left: 40px;
}
.block-email input {
  position: absolute;
  top: 145px;
  left: 40px;
  width: 225px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 5px 25px;
}
.block-email img {
  position: absolute;
  top: 50px;
  right: 45px;
}
.block-car {
  float: right;
  /* width: 540px; */
  width: 525px;
  height: 212px;
  background: #f13c6e;
  position: relative;
  color: #ffffff;
}
.block-car h3 {
  width: 250px;
  margin: 0;
  position: absolute;
  top: 35px;
  left: 40px;
}
.block-car span {
  position: absolute;
  width: 129px;
  top: 75px;
  left: 40px;
}
.block-car img {
  position: absolute;
  top: 50px;
  right: 45px;
}
.butt-map {
  width: 170px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  position: absolute;
  top: 145px;
  left: 40px;
}
.block-car a {
  display: inline-block;
  padding: 5px 40px;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}
table {
  width: 100%;
  background: #ffffff;
}
